.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.text-area {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.textarea-input {
  overflow: hidden;
}

.textarea-gutter {
  color: #7f8c8d;
  margin-right: 10px;
  margin-top: 3px;
  font-family: monospace;
  vertical-align: top;
  float: left;
}

.textarea-whole {
  margin: 20px 20px 20px 20px;
  overflow: hidden;
}

